.App {
  font-family: sans-serif;
  text-align: center;
}

.title {
  margin-top: 20px;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
}

.map-container {
  width: 60%;
  margin-right: 20px;
}

.places-list {
  width: 30%;
  text-align: left;
}

.places-list h2 {
  margin-bottom: 10px;
}

.places-list ul {
  list-style-type: none;
  padding: 0;
}

.places-list li {
  margin-bottom: 10px;
}
